/* Peut être utilisé pour des surcharges spécifiques */
body {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="20" cy="20" r="1" fill="%23FFD300" opacity="0.1"/><circle cx="80" cy="40" r="1" fill="%23FFD300" opacity="0.1"/><circle cx="40" cy="80" r="1" fill="%23FFD300" opacity="0.1"/></svg>');
}
